@font-face{
    font-family:'stone';
    src: url('Fonts/LikeAStone.ttf');
    src: url('Fonts/LikeAStone.ttf') format(truetype);
}
@font-face{
    font-family:'cosmos';
    src: url('Fonts/Cosmos.otf');
    src: url('Fonts/Cosmos.otf') format(opentype);
}

@media only screen and (min-width: 600px){

}

@media only screen and (min-width: 768px){

}

@media only screen and (min-width: 992px){
    
    .nav{
        grid-column-start:1;
        grid-column-end:3;
        grid-row-start:1;
        grid-row-end: 2;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: gray;
        padding: 20px;
        display: flex;
        justify-content: center;
        font-size: 50px;
        width: fit-content;
        font-family: 'stone';
        border-radius: 50px 50px 500px 500px;
    }

    .nav a{
        
        border-radius: 50%;
        padding: 10px;
        background-color: green;
        margin-left: 20px;
        margin-right: 20px;
        text-decoration: none;
        color: black;
    }

    .nav a:hover, .nav a:active{
        color: rgb(51, 51, 51);
    }

}