.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 30% 40% 15%;
}
.image{
    grid-column-start: 1;
    grid-column-end:3;
    grid-row-start:2;
    grid-row-end: 3;
    background-image: url("../images/Timage.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}