.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 30% 40% 15%;
}
.nav{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 1px solid darkgreen;
    border-radius: 50px 50px 500px 500px;
}